@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}

body {
  background-color: #05292e;
  color: white;
}

.title-bg {
  width: 100%;
  height: 320px;
  background-image: url("./assets/images/HeaderImage.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 73% 85%, 59% 100%, 38% 88%, 21% 96%, 0 91%);
}

.title {
  position: absolute;
  top: 1.9em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 4.5em;
  color: #08bae3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.title span {
  font-size: 0.3em;
}

.title-middle {
  -webkit-text-stroke: 0.1em #fff765;
  z-index: 49;
}

.title-bottom {
  -webkit-text-stroke: 0.4em black;
  z-index: 48;
}

.title-divider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 80px;
  background-color: #01383a;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  height: 50px;
  width: 40vw;
  min-width: 250px;
  box-shadow: -10px 2px 17px 14px rgba(134, 189, 64, 0.95);
  border-radius:  12px 0 0 12px;
  margin: 0;
  color: white;
  background-color: rgb(46, 40, 40);
}
.search-bar button {
  height: 50px;
  width: 80px;
  box-shadow: 10px 2px 17px 14px rgba(134, 189, 64, 0.95);
  /* font-size: 18px; */
  font-weight: bold;
  color: white;
  background-color: #0eb453;
  margin: 0;
  border-radius: 0 12px 12px 0;
}

.location-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 6vw; */
  width: 80%;
}
.location-card h2 {
  font-size: 40px;
  margin-bottom: 12px;
}
.location-card ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  font-size: 22px;
  list-style: none;
  text-align: left;
  overflow: scroll;

}
.location-card ul span {
  font-size: 30px;
  margin-right: 10px;
}
.location-card li{
  background-color: rgb(31, 34, 31);
  padding: 30px;
  border-radius: 8px;
  margin:12px 12px 12px 12px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 1vw; */
}
.content-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* margin: 5vw; */
  margin-top: 2vw;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(31, 34, 31);
  color: rgb(247, 240, 240);
  border-radius: 15px;
  margin: 25px;
  padding: 10px;
  width: 300px;
  /* height: 480px; */
  position: relative;
}
.status-resident{
  position: absolute;
  top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 6px;
  background-color: #01383a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.status-circle{
  width: 12px;
  height: 12px;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
}

.Alive{
  background-color: #0eb453;
}

.unknown{
  background-color: grey;
}
.status-name{
font-weight: normal;
font-size: 15px;
}

.character-card header {
  align-items: center;
}
.character-card ul {
  list-style: none;
  padding: 0;
  padding-left: 10px;
}
.character-card ul span {
  font-size: 18px;
  font-weight: bold;
}
 .img-card{
  border-radius: 12px 12px 0 0 ;
 }
.card-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 5px 0 5px;
}
.card-name h2 {
  margin-bottom: 0;
}
.navigation {
  display: flex;
}
.navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  gap: 10px;
}
.navigation ul {
  margin-bottom: 9px;
}

.navigation li {
  display: inline-flex;
  /* text-align: center; */
  justify-content: initial;
  margin: 0 10px 0 0;
  padding: 12px;
  background-color: #0eb453;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 20px;
}

.navigation li:hover {
  background-color: #229264;
}

@media (min-width: 600px) {
  .location-card ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }
  .location-card li {
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-sizing: content-box;
  }
  .title {
    font-size: 5em;

  }

}

